services:
  auth:
    build: ../auth
    ports:
      - "3000:3000"
    env_file:
      - ../auth/.env
    depends_on:
      - redis
      - rabbitmq

  music:
    build: .
    ports:
      - "3002:3002"
    env_file:
      - .env  
    depends_on:
      - rabbitmq

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
